vendor/
node_modules/
npm-debug.log

# Laravel 4 specific
bootstrap/compiled.php
app/storage/

# Laravel 5 & Lumen specific
public/storage
public/hot
storage/*.key
.env.*.php
.env.php
.env
Homestead.yaml
Homestead.json

# Rocketeer PHP task runner and deployment package. https://github.com/rocketeers/rocketeer
.rocketeer/
_ide_helper.php
.buildpath
.DS_Store
.env.staging
.envoydeploy
.phpintel
.phpstorm.meta.php
.project
.sass-cache
.settings
/.idea
/bower_components
/coverages
/node_modules
/public/build
/public/css
/public/hot
/public/js
/storage/*.key
/storage/*.zip
/storage/debugbar
/storage/upload

composer.lock
docker-compose.yml
